html {
    height: 100%;
    font-family: 'roboto';

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

body
{

    Width :100%;
    Height :100%;
    Top :100%;
    Left :-92px;
    background-color: var(--bg);
    transition: background 0.1s linear;
}

header
{
    width: 100%;
    height: 289px;
    justify-content: center;
    padding: 20px 0;  /*importante*/  

    /*background-color: var(--bg-panel); <- ISSO FAZ O HEADER TER COR*/

    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title switch"
        "content content"
    ;
}

.caixa  /*O que faz os itens não ficare flutuando(quando tirar zoom)*/
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo
{
    position: absolute;
    
    Height: 316px;
    Top :-30px;
    Left :-230px;
}

h1
{
    padding-left: 20px;
}

p {
    color: var(--color-text);
    grid-area: content;
}

input[type=checkbox]
{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    top: 115px;
    right: -110px;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

/*FIM DO MODE DARK*/



nav
{
    position: absolute;
    top: 120px;
    right: -30px;
}

nav li
{
    display: inline;
    margin: 0 0 0 15px
}

nav a
{
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: bolder;
    font-size: 22px;
    line-height: -50px;

    font-style: normal;
    text-decoration: none;
    font-family: Rozha One;

}

nav a:hover
{
    /*QUANDO PASSO A SETA EM CIMA MUDA A COR DO LUGAR*/
    color: var(--color-headings)
    /*text-decoration: underline; (pra colocar/tirar linha abaixo da palavra)*/
}

/*parte principal da pagina*/

.principal
{
    position: relative;
    top: -80px;
    width: 800px;
    height: 1589px;
    margin: 0 auto;  
    
    background: var(--bg-panel);
    border-radius: 30px;
 
}

.principal li
{
    display: inline-block;
    width: 50%; 
}

#foto_principal
{
    width: 800px;
    left: 312px;
    top: 204px; 
    background: url(Banner.jpg);
    border-radius: 10px 10px 10px 10px;
}

h2
{
    position: relative;
    margin: 0;
    width: 293px;
    height: 65px;
    left: 48px;
    top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 71px;
    text-transform: capitalize;
    
    color: var(--color-headings);
}

.texto_principal
{
    position: relative;
    width: 545px;
    top: 100px;
    left: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-text);
}

em strong
{
    color: var(--color-headings);
}

.linha_meio
{
    position: absolute;
    width: 548px;
    left: 134px;
    top: 900px;
    border: 1px solid var(--color-text);
}

h3
{
    position: relative;
    width: 453px;
    height:66px;
    left: 48px;
    top: 272px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-transform: capitalize;
    
    color: var(--color-headings);
}

#texto_benefícios
{

    position: relative;                                  
    width: 261px;
    left: 48px;
    top: 275px;

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-text);
}

.rodape
{
    position: absolute;
    width: 704px;
    height: 124px;
    left: 50px;
    top: 91%;
    background: var(--color-headings);
    border-radius: 10px; 
}

#mapa
{
    position: absolute;
    width: 705px;
    height: 349.52px;
    left: 0px;
    top: -280px;
    background: url(mapa.png);
    border-radius: 67px; 
}


#palavra_mapa
{
    position: absolute;
    width: 247px;
    height: 29px;
    left: 228px;
    top: 79px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

#marcador
{
    position: absolute;
    width: 42.04px;
    height: 54.89px;
    left: 228px;
    top: 0px;
    background: url("—Pngtree—marker glyph black icon_3755467.png");
    transform: rotate(25.83deg); 
}