body
{
    background: #ffffff;
    Width :100%;
    Height :100%;
    Top :100%;
    Left :-92px;
}

header
{
    width: 100%;
    height: 190px;
    left: 0px;
    top: 0px;
    padding: 20px 0;  /*importante*/ 
}

.caixa  /*O que faz os itens não ficare flutuando(quando tirar zoom)*/
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo
{
    position: absolute;
    Height: 316px;
    Top :-30px;
    Left :-230px;
}

nav
{
    position: absolute;
    top: 120px;
    right: -30px;
}

nav li
{
    display: inline;
    margin: 0 0 0 15px
}

nav a
{
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
    line-height: -50px;

    font-style: normal;
    text-decoration: none;
    font-family: Rozha One;

}

nav a:hover
{
    /*QUANDO PASSO A SETA EM CIMA MUDA A COR DO LUGAR*/
    color: #0077FF;
}

.produtos
{
    width: 940px;
    margin: 0 auto;
    padding: 100px 0;
}

.produtos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;  
    margin: 0 1.5%;
    padding: 50px 20px;
    box-sizing: border-box;
    
    

    /*Os proximos cod e os do quadrado legal*/
    border: 3px solid;
    border-color: #000000;
    border-radius: 20px;
}

.produtos li:hover
{
    border-color:  #B5B5B5;
    background: #B5B5B5;
    transition: 0.5s background;
}

.produtos li:active     
{
    border-color:  #0077FF;   
}

.produtos li:hover h2
{
    font-size: 48px;
}


.produtos h2
{
    color: #0077FF;
    font-style: normal;
    font-weight: medium;
    font-size: 40px;  
}

.preco-produto
{
    color: #0077FF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.descricao-produto
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.imagem-produtos
{
    width: 195px;   
}

footer
{
    text-align: center;  
}

.copyright
{
    padding-block: 1%;
}

/*algumas coisas pra pagina de contato. acima tb tem(porem e compartilhado)*/

.principal_contato
{
    position: relative;
    top: 19px;
    width: 800px;
    height: 1200px;
    margin: 0 auto;  
    
    background: #EBEBEB;
    border-radius: 30px;
 
}

.principal_contato li
{
    display: inline-block;
    width: 50%;
}

h3
{
    color: #0077FF;
    position: relative;
    width: 293px;
    height: 65px;
    left: 300px;
    top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 71px;
    text-transform: capitalize;
}

.linha_contato
{
    position: absolute;
    width: 500px;
    left: 150px;
    top: 140px;
    border: 1px solid #B9BBBB;
}

.pergunta
{
    position: relative;
    width: 100%;
    height: 65px;
    left: 270px;
    top: 70px;
    font-style: normal;
    font-weight: 62;
    font-size: 30px;
    line-height: 70px;
}

main
{
    width: 940px;
    margin: 0 auto;
}

form
{
    margin: 120px ;
}

form input, form textarea
{ 
    margin:20px;  
}

.input-padrao
{
    display: block;
    padding: 10px 5px ;
    width: 90%;
}

.checkbox
{
    display: block;
    text-align: center;   
}

.enviar
{
    position: absolute;
    width: 256px;
    left: 265px;
    top: 630px;

    padding: 5px 0;
     
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    
    border: none;
    border-radius: 3px;
    transition: 0.5s all;
    cursor: pointer; /*COLOCA A MÃOZINHA NO CURSOR*/
}

.enviar:hover
{
    background: #0077FF;
    transform:  scale(1.1);  /*rotate(360deg)  <--- faz com que o item gire na tela */
}

.linha_central_contato
{
    position: absolute;
    text-align: center;
    width: 600px;
    left: 100px;
    top: 720px;
    border: 0.5px solid #B9BBBB;
}

.linha_vertical_contato
{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 250px;
    top: 870px;
    
    border: 1px solid #B9BBBB;
    transform: rotate(-90deg);
}

.informacoes-atendimento 
{
    position: relative;

    padding: 50px 120px;
    font-family: Arial;
    font-style: normal;
    
}

.informacoes-atendimento li
{
    display: inline;
    line-height: 26px;
}

#informacao1
{
    text-align: left;
}

#informacao2
{
    text-align: right;
}

em
{
    font-weight: bold;
    font-family: Arial;
    color: #0077FF;
}

#logo-footer
{
    margin-top: 130px;
    width: 100px;
    height: 100px;
    margin-left: -15%;
}