body
{
    background: #E5E5E5;
    Width :100%;
    Height :1867px;
    Top :100%;
    Left :-92px;
}

header
{
    width: 100%;
    height: 289px;
    left: 0px;
    top: 0px;
    padding: 20px 0;  /*importante*/ 
    background: 
    linear-gradient(180deg, #29B6D1 0%, rgba(196, 196, 196, 0) 100%),
    #476BA0;
}

.caixa  /*O que faz os itens não ficare flutuando(quando tirar zoom)*/
{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

#titulo
{
    position: absolute;
    width: 353px;
    height: 87px;
    left: 35px;
    top: 118px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;

    color: #FFFFFF;
}

#logo
{
    position: absolute;
    Width: 270px;
    Height: 316px;
    Top :-13px;
    Left :-200px;
}

nav
{
    position: absolute;
    top: 152px;
    right: -30px;

}

nav li
{
    display: inline;
    margin: 0 0 0 15px
}

nav a
{
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
    line-height: -50px;

    font-style: normal;
    text-decoration: none;
    font-family: Rozha One;

}

.produtos
{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;  
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos h2
{
    font-style: normal;
    font-weight: medium;
    font-size: 40px;  
}

.preco-produto
{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.descricao-produto
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}



.imagem-produto-garrafa
{
    width: 187px;   
}

.imagem-produto-camiseta
{
    width: 195px;
}

.imagem-produto-tenis
{
    width: 195px;
}