html
{
    height: 100%;
}

body
{
    background: #FFFFFF;
    Width :100%;
    Height :100%;
    Top :100%;
}

header
{
    width: 100%;
    height: 289px;
    left: 0px;
    top: 0px;
    padding: 20px 0;  /*importante*/  
}

.caixa  /*O que faz os itens não ficare flutuando(quando tirar zoom)*/
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo
{
    position: absolute;
    Height: 316px;
    Top :-70px;
    Left :-230px;
}

.Ayron-Gym
{   
    position: absolute;
    left: 30px;
    top: 40px;

    Font-family: 'Roboto';
    Font-size: 55px;
    Line-height: 82px;

    color: #0077FF;
}

nav
{
    position: absolute;
    top: 0px;
    right: -190px;
}

nav li
{
    margin: 0 0 0 15px;
}

nav a 
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    line-height: 29px;
    text-decoration: none;

    color: #333333;
}

nav a:hover
{
    color:#0077FF
}

.texto-principal
{
    position: relative;
    top: -120px;
    width: 521px;
    height: 300px;
    left: -360px;
    margin: 0 auto;  
}

.texto
{
    position: absolute;
    text-align: left;
    left: 21px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 82px;
    color: #333333;
}

.texto-auxiliar
{
    position: absolute;
    text-align: left;
    left: 30px;
    top: 250px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    color: #0077FF;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: left;
    /* height: 100vh; */ /* <--- ele centraliza no centro na pagina a DIV*/
}

.content /* Esta nas DUAS DIV principais, fora as class que individualizam ela*/
{
    border-radius: 15px;
    width: 960px;
    height: 415px;
    justify-content: space-between; /* deixar uma espaço entre as DIV*/
    align-items: center;
    position: relative;
}

.content::before
{
    content: "";
    position: absolute;
    background-color: #0077FF;
    width: 40%;
    height: 100%;
}

.title
{
    font-size: 28px;
    text-transform: capitalize;
}

.title-primary
{
    color: #FFFFFF;
}

.title-second
{
    color: #0077FF;
}

.description
{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.description-primary
{
    color: #fff;
}

.description-second
{
    color: #7f8c8d;
}

.btn
{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
}

.btn-primary
{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.btn-primary:hover
{
    background-color: #FFFFFF;
    color: #0077FF;
    transition: 0.5s;
}

.btn-second
{
    background-color: #0077FF;
    border: 1px solid;
}

.btn-second:hover
{
    background-color: #fff;
    color: #0077FF;
    transition: 0.5s;
}

.first-content
{
    display: flex;
}

.first-column
{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
    font-family: "roboto";
}

.second-column
{
    flex: 2 0 auto;
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media
{
    display: flex;
    list-style-type: none;
}

.item-social-media
{
    border: 1px solid #B9BBBB;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 10px;
}

.item-social-media a 
{
    color: #B9BBBB;
}

.form
{
    /* MUITO BOM PRA FAZER FORMULARIOS*/
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input
{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.label-input
{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify
{
    color: #7f8c8d;
    padding: 0 5px; /* separou os icon do input*/
}

.second-content
{
    position: absolute;
    display: none;
}


