body
{
    background: #CCCCCC   
}

#Banner
{
  
}

h1
{
    text-align: center
}


p 
{
    text-align: center;
    font-size : 20px;
}

#destaque
{
    color: 	#0000FF;
}

em strong
{
    color: #FF0000;
}





