<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <title>Ayron Gym</title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style-home.css">
        <script src="https://kit.fontawesome.com/bb2989606d.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="caixa">
                                
                <div class="toggle">
                    <input id="switch" type="checkbox" name="theme">
                    <label for="switch">Toggle</label>
                </div>
            
                <h1><img id= "logo" src = "images/logo.png"></h1>
                <nav>
                    <ul>
                        <li id="home"><a href="/home">Home</a></li>
                        <li id="produtos"><a href="/produtos">produtos</a></li>
                        <li id="contato"><a href="/contato">contato</a></li>                 
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class= "principal">
                <li>
                    <img id="foto_principal" src="images/banner.jpg">

                    <h2>Ayron Gym</h2>

                    <p class="texto_principal" >Aqui em nossa academia temos a missão de lhe ajudar
                    a alcançar seus <em><strong>objetivos.</strong></em>
                    <br>
                    <br>
                    Ofereçemos ótimas máquinas para uso 
                    além de DESCONTOS extraordinários.
                    <br>
                    <br>
                    Nossa academia e centro de referência no mundo todo 
                    astros do fisiuculturismo como <em><strong>Roonie Coleman</strong></em> e <br>
                    <em><strong>Arnold Schwarzenegger</strong></em> ja passaram por aqui.</p>    
                
                    <div class= "linha_meio"></div>

                    <h3>Benefícios Extras</h3>

                    <p id= "texto_benefícios">Localização acessível
                        Profissionais qualificados
                        Acesso a suplementos <br>
                    <em><strong>E MUITO MAIS...</strong></em></p>                       
                </li>

                <div class= "rodape">
                    <img id="mapa" src="images/mapa.png">       
                    <p id= "palavra_mapa">Ver mais informações</p>     
                    <img id="marcador" src="images/marcador.png">
                </div>
            </div>
        </main> 
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="scripts/mode.js"></script>
    </body>
</html>
 