<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Ayron Gym</title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style-login.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bb2989606d.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!--  
            <header>
                <div class="caixa">
                    <h1><img id = "logo" src="images/logo.png"></h1>
                    <h2 class="Ayron-Gym">Ayron Gym</h2>
                    <nav>
                        <ul>
                            <li id="nome-criador"><a href="https://github.com/MatheusAyron">Matheus Ayron</a></li>
                        </ul>
                    </nav>
                </div>  Fim caixa 
            </header>
        -->

        <main>
            <!--  <div class="texto-principal">
                <p class="texto">Tenha<br>saúde<br>conosco</p>
                <p class="texto-auxiliar">Visite um dos nossos centros de<br>treinamento</p>
            </div>-->



            <!-- telinha de cadastro com animação -->

            <!-- Frist Content -->
            <div class="container"> <!-- UMA DIV PARA GERAL (QUE AFETA OS 2) + DIV INDIVIDUAL PARA CADA-->
                
                <div class="content first-content">
                    <div class="first-column">
                        <h2 class="title title-primary">Welcome back!</h2>
                        <p class="description description-primary">To keep connected with us</p>
                        <p class="description description-primary">please login with your personal info</p>
                        <button id="signin" class="btn btn-primary">sign in</button>
                    </div>

                    <div class="second-column">
                        <h2 class="title title-second">Create account</h2>
                        <div class="social-media">
                            <ul class="list-social-media">
                                <a class="link-social-media" href="#">
                                    <li class="item-social-media">
                                        <i class="fab fa-facebook-f"></i>
                                    </li>
                                </a>

                                <a class="link-social-media" href="#">
                                    <li class="item-social-media">
                                        <i class="fab fa-google"></i>
                                    </li>
                                </a>

                                <a class="link-social-media" href="#"> <!-- ESSE  href="#" FAZ COM QU VOLTE PARA O INICIO DA PAGINA -->
                                    <li class="item-social-media">
                                        <i class="fab fa-linkedin-in"></i>
                                    </li>
                                </a>
                            </ul>
                        </div><!-- fim social-media -->

                        <p class="description description-second">or use your email:</p>
                        <form class="form" action="/home">
                            <label class="label-input" >
                                <i class="far fa-user icon-modify"></i>
                                <input type="text" placeholder="Name">
                            </label>

                            <label class="label-input">
                                <i class="far fa-envelope icon-modify"></i>
                                <input type="email" placeholder="Email">
                            </label>
                            
                            <label class="label-input" for="">
                                <i class="fas fa-lock icon icon-modify"></i>
                                <input type="password" placeholder="Password">
                            </label>   

                            <button class="btn btn-second">sign up</button>
                        </form>
                    </div><!-- fim second-column -->
                </div><!-- first-content -->


                <!-- Começo Second Content -->
                
                <div class="content second-content">
                    <div class="first-column">
                        <h2 class="title title-primary">Hello, Friend!</h2>
                        <p class="description description-primary">Enter your personal details</p>
                        <p class="description description-primary">and start jorney with us</p>
                        <button id="signup" class="btn btn-primary">sign up</button>
                    </div>

                    <div class="second-column">
                        <h2 class="title title-second">sign in to Developer</h2>
                        <div class="social-media">
                            <ul class="list-social-media">
                                <a class="link-social-media" href="#">
                                    <li class="item-social-media">
                                        <i class="fab fa-facebook-f"></i>
                                    </li>
                                </a>

                                <a class="link-social-media" href="#">
                                    <li class="item-social-media">
                                        <i class="fab fa-google"></i>
                                    </li>
                                </a>

                                <a class="link-social-media" href="#"> <!-- ESSE  href="#" FAZ COM QU VOLTE PARA O INICIO DA PAGINA -->
                                    <li class="item-social-media">
                                        <i class="fab fa-linkedin-in"></i>
                                    </li>
                                </a>
                            </ul>
                        </div><!-- fim social-media -->

                        <p class="description description-second">or use your email account:</p>
                        <form class="form" action="/home">
                            <label class="label-input">
                                <i class="far fa-envelope icon-modify"></i>
                                <input type="email" placeholder="Email">
                            </label>
                            
                            <label class="label-input" for="">
                                <i class="fas fa-lock icon icon-modify"></i>
                                <input type="password" placeholder="Password">
                            </label>   

                            <a class="password" href="#">forgot your password ?</a>

                            <button class="btn btn-second">sign in</button>
                        </form>
                    </div><!-- fim second-column -->
                </div><!-- fim da second-content -->
            </div><!-- fim container -->
        </main>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>